a {
    text-decoration: none;
    background: rgb(20, 19, 19);
    padding: 8px 28px;
    border-radius: 6px;
    color: gainsboro;
    transition: 0.2s;
}

a:hover {
    opacity: 0.50;
    color: gainsboro;
}

.btn-container {
    text-align: center;
    padding: 14px;
}